.Bwhite {
   background-color: #FFFFFF;
}

.Bgray {
    background-color: #D9D9D9;
}

.black {
    color: #666666;
}

.gray {
    color: #999999;
}

.s26 {
    padding: 6px 20px;
}

.s37 {
    padding: 9px 20px;
}

